<div class="pull-right">
  <%= link_to("增加一个事件", new_event_path, :class => "btn btn-primary" ) %>
</div>

<table class="table table-bordered">
  <thead>
    <th>#</th>
    <th>事件名称</th>
    <th>创建者</th>
    <th>创建时间</th>
  </thead>

  <tbody>
    <% @events.each do |event| %>
    <tr>
      <th>#</th>
      <td>
        <%= link_to(event.title, event_path(event)) %>
      </td>
      <td>
        <%= event.user.email %>
      </td>
      <td>
        <%= event.created_at %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
