<div class="group">
  <% if current_user && current_user == @event.user %>
    <%= link_to("Edit", edit_event_path(@event), class: "btn btn-primary pull-right")%>
  <% end %>
</div>

<h1> <%= @event.title %> </h1>

<p>
  <%= simple_format(@event.description) %>

  <h6> 事件截止日期 ：<%= @event.endtime %> </h6>
</p>
